module.exports = {
    getBg: function(scheduleBg) {
        if (scheduleBg) {
            return scheduleBg.path;
        }

        return '';
    },
    getBlur: function(scheduleBg) {
        if (scheduleBg && scheduleBg.style === 2) {
            return 'filter: blur(3px);'
        }

        return '';
    },
    getMask: function(scheduleBg) {
        if (scheduleBg && scheduleBg.style === 1) {
            return 'background-color: rgba(235, 235, 235, .7);'
        }

        return '';
    },
};
